<!-- Left Wrap -->
<div class="left_wrap_none w_200">
    <!-- Side Menu -->
    <div id="sidemenu">
        <ul>
            <li class="has-sub" routerLinkActive="active open"><a (click)="onGroupClick($event)">관리자 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li class="last" routerLinkActive="active"><a routerLink="/admins">관리자 관리</a></li>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open"><a (click)="onGroupClick($event)">알림 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li class="last" routerLinkActive="active"><a routerLink="/pushes">약사회 알림 관리</a></li>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open"><a (click)="onGroupClick($event)">공지사항 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li routerLinkActive="active"><a routerLink="/notices">공지사항</a></li>
                    <li class="last" routerLinkActive="active"><a routerLink="/ntcqnas">공지사항 문의 관리</a></li>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open"><a (click)="onGroupClick($event)">교육 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li routerLinkActive="active"><a routerLink="/educations">교육 관리</a></li>
                    <li routerLinkActive="active"><a routerLink="/eduapprovals">교육 이수 관리</a></li>
                    <li class="last" routerLinkActive="active"><a routerLink="/eduqnas">교육 문의 관리</a></li>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open"><a (click)="onGroupClick($event)">학술정보 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li routerLinkActive="active"><a routerLink="/docs">PDF문서 관리</a></li>
                    <li class="last" routerLinkActive="active"><a routerLink="/videos">동영상 관리</a></li>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open"><a (click)="onGroupClick($event)">고객서비스 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li class="last" routerLinkActive="active"><a routerLink="/surveys">설문조사 관리</a></li>
                    <!-- <li class="last" routerLinkActive="active"><a routerLink="/qnas">고객문의 관리</a></li> -->
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open"><a (click)="onGroupClick($event)">회원 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li class="last" routerLinkActive="active"><a routerLink="/members">팜크루회원 관리</a></li>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open" *ngIf="authority() === 'S'"><a (click)="onGroupClick($event)">광고 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li routerLinkActive="active"><a routerLink="/popups">팝업 관리</a></li>
                    <li routerLinkActive="active"><a routerLink="/banners">배너 관리</a></li>
                    <li routerLinkActive="active"><a routerLink="/admsgs">마케팅 알림 관리</a></li>
                    <li class="last" routerLinkActive="active"><a routerLink="/partners">파트너서비스 관리</a></li>
                </ul>
            </li>
            <li class="has-sub" routerLinkActive="active open" *ngIf="authority() === 'S'"><a (click)="onGroupClick($event)">팜텍스 서비스 관리<span class="holder"></span></a>
                <ul routerLinkActive="dsp_b">
                    <li class="last" routerLinkActive="active"><a routerLink="/ptaxqnas">1:1문의 관리</a></li>
                    <li class="last" routerLinkActive="active"><a routerLink="/ptaxnotices">팜텍스공지 관리</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- Side Menu -->
</div>
<!-- Left Wrap -->