        <div class="header_wrap bg_15 ">
            <div class="logo">
                <span class="logo"><img src="/assets/images/logo_color.png" alt="logo" /></span>
                <span class="text ml_10 font_01">관리자 시스템입니다.</span>
            </div>

            <div class="header_util"><i class="far fa-user-circle"></i> <strong>{{name()}}</strong>님 안녕하세요. <a class="button02 bg_15 ml_20" [routerLink]="['/me']"><i class="fas fa-address-card"></i> 정보수정</a> <a class="button02 bg_15 ml_20" (click)="onLogoutClick()"><i class="fas fa-lock"></i> 로그아웃</a></div>

        </div>