<!-- Right Wrap -->
<div class="container">

    <div class="clear_wrap">
        <h1 class="f_l">교육 관리 {{education.educationId === undefined ? '등록' : '수정'}}</h1>
        <div class="f_r mt_20">Home > 교육 관리 > 교육 관리 > <span class="fw_600">{{education.educationId === undefined ? '등록' : '수정'}}</span></div>
    </div>

    <div class="clear_wrap mt_10">
        <div class="f_r view_check"><span class="tb_star">*</span>은 필수 입력 사항입니다.</div>
    </div>
    <!-- Table View -->
    <table class="tb_view01 mt_10">
        <colgroup>
            <col style="width:180px" />
            <col style="width:*" />
            <col style="width:180px" />
            <col style="width:*" />
        </colgroup>
        <tr *ngIf="education.educationId !== undefined">
            <th>등록인</th>
            <td>{{education.regName}}</td>
            <th>등록일</th>
            <td>{{education.regDt | date: 'yyyy.MM.dd'}}</td>
        </tr>
        <tr>
            <th>노출 약사회<span class="tb_star">*</span></th>
            <td colspan="3">
                <widget-organize-selector #organizeSelector></widget-organize-selector>
            </td>
        </tr>
        <tr>
            <th>노출 여부</th>
            <td>
                <input type="radio" name="isOpen" value="Y" [(ngModel)]="education.isOpen" /> 노출
                <input type="radio" class="ml_10" name="isOpen" value="N" [(ngModel)]="education.isOpen" /> 비노출
            </td>
            <th>등록 유형</th>
            <td>
                <input type="radio" name="authType" value="A" [(ngModel)]="education.authType" (change)="onChangeAuthType()" [disabled]="education.educationId !== undefined" /> 단건 등록
                <input type="radio" class="ml_10" name="authType" value="P" [(ngModel)]="education.authType" (change)="onChangeAuthType()" [disabled]="education.educationId !== undefined" /> 다건 등록
            </td>
        </tr>
        <tr>
            <th>교육 날짜<span class="tb_star">*</span></th>
            <td colspan="3">
                <input type="text" id="datepicker1" class="mr_5" name="startDate"
                    #startDate [(ngModel)]="education.startDate"
                    (click)="onStartDateChange(startDate.value)"><img class="ui-datepicker-trigger" src="/assets/images/ico_calen.gif">
                ~
                <input type="text" id="datepicker2" class="mr_5" name="endDate"
                    #endDate [(ngModel)]="education.endDate"
                    (click)="onEndDateChange(endDate.value)"><img class="ui-datepicker-trigger" src="/assets/images/ico_calen.gif">
            </td>
        </tr>
        <tr>
            <th>교육 시간<span class="tb_star">*</span></th>
            <td colspan="3">
                <select name="startHour" [(ngModel)]="education.startHour">
                    <option value="{{hour | numPad: 2}}" *ngFor="let hour of 24 | numLoop">{{hour | numPad: 2}}시</option>
                </select>
                <select name="startMinute" [(ngModel)]="education.startMinute">
                    <option value="{{minute | numPad: 2}}" *ngFor="let minute of 60 | numLoop">{{minute | numPad: 2}}분</option>
                </select>
                ~
                <select name="endHour" [(ngModel)]="education.endHour">
                    <option value="{{hour | numPad: 2}}" *ngFor="let hour of 24 | numLoop">{{hour | numPad: 2}}시</option>
                </select>
                <select name="endMinute" [(ngModel)]="education.endMinute">
                    <option value="{{minute | numPad: 2}}" *ngFor="let minute of 60 | numLoop">{{minute | numPad: 2}}분</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>교육 장소<span class="tb_star">*</span></th>
            <td colspan="3">
                <input type="text" placeholder="검색 버튼을 눌러 주소를 검색하세요." class="Width-80" readonly id="address"
                    name="address" [maxLength]="100" [(ngModel)]="education.address"
                    #address (click)="education.address = address.value" /><button class="button02 bg_03 ml_10" (click)="onSearchAddressClick()">검색</button>
                <input type="text" placeholder="상세 주소를 입력하세요" class="Width-100" name="addressDetail" [maxLength]="50" [(ngModel)]="education.addressDetail" />
                <input type="hidden" id="latitude" name="latitude" [(ngModel)]="education.latitude" #latitude (click)="education.latitude = latitude.value" />
                <input type="hidden" id="longitude" name="longitude" [(ngModel)]="education.longitude" #longitude (click)="education.longitude = longitude.value" />
            </td>
        </tr>
        <tr>
            <th>오시는 길 요약<span class="tb_star">*</span></th>
            <td colspan="3"><input type="text" placeholder="오시는길을 입력하세요" class="Width-100" name="wayGuide" [maxLength]="50" [(ngModel)]="education.wayGuide" />
            </td>
        </tr>
        <tr>
            <th>오시는 길 상세</th>
            <td colspan="3"><textarea placeholder="오시는길을 입력하세요" class="Width-100" role="3" name="wayDetail" [maxLength]="150" [(ngModel)]="education.wayDetail"></textarea>
            </td>
        </tr>
        <tr>
            <th>오시는 길 첨부파일</th>
            <td colspan="3">
                <widget-file-upload
                    [attachFiles]="mapFile()"
                    [checkType]='"educaitonMap"' [maxCount]="1" [maxSize]="10485760" 
                    (onView)="onViewAttach('map', $event)"
                    (onDelete)="onDeleteAttach('map', $event)"></widget-file-upload>
            </td>
        </tr>
        <tr>
            <th>시간표</th>
            <td colspan="3">
                <widget-file-upload
                    [attachFiles]="timetableFile()"
                    [checkType]='"educaitonTimetable"' [maxCount]="1" [maxSize]="10485760" 
                    (onView)="onViewAttach('timetable', $event)"
                    (onDelete)="onDeleteAttach('timetable', $event)"></widget-file-upload>
            </td>
        </tr>
        <tr>
            <th>담당자<span class="tb_star">*</span></th>
            <td colspan="3"><input type="text" placeholder="담당자를 입력하세요" class="Width-100" name="master" [maxLength]="100" [(ngModel)]="education.master" />
            </td>
        </tr>
        <tr>
            <th>문의처</th>
            <td colspan="3"><input type="text" placeholder="문의처를 입력하세요" class="Width-100" name="masterPhone" [maxLength]="15" [(ngModel)]="education.masterPhone" />
            </td>
        </tr>
        <tr *ngIf="education.authType === 'A'">
            <th>교육 이수 시간<span class="tb_star">*</span></th>
            <td colspan="3">
                <select name="takeHour" [(ngModel)]="education.takeHour">
                    <option value="{{hour | numPad: 2}}" *ngFor="let hour of 24 | numLoop">{{hour}}시간</option>
                </select>
                <select name="takeMinute" [(ngModel)]="education.takeMinute">
                    <option value="{{minute | numPad: 2}}" *ngFor="let minute of 60 | numLoop">{{minute | numPad: 2}}분</option>
                </select>
                <span class="font_14 fs_12 mt_10 ml_10">* 해당 교육 참여 완료 시 인정되는 이수시간을 설정 합니다.</span>
            </td>
        </tr>
        <tr *ngIf="education.authType === 'A'">
            <th>교육 이수 QR</th>
            <td colspan="3" *ngIf="education.educationId === undefined">
                <input type="radio" value="O" name="qrType" [(ngModel)]="education.qrType" /> 출결용(1개)
                <input type="radio" class="ml_10" value="M" name="qrType" [(ngModel)]="education.qrType" /> 시작/종료용(2개)
            </td>
            <td colspan="3" *ngIf="education.educationId !== undefined">
                <button class="button02" id="btn_qr" (click)="onQrClick(0)">{{education.qr2 !== undefined ? '시작 ' : ''}}QR코드</button>
                <button class="button02" (click)="onQrClick(1)" *ngIf="education.qr2 !== undefined">종료 QR코드</button>
            </td>
        </tr>
        <tr>
            <th>{{education.authType === 'A' ? '교육' : education.authType === 'P' ? '대표' : education.authType}} 제목<span class="tb_star">*</span></th>
            <td colspan="3"><input type="text" placeholder="제목을 입력하세요" class="Width-100" name="title" [(ngModel)]="education.title" />
            </td>
        </tr>
    </table>

    <div class="bar_title mt_20">
        <div class="f_r mt_5">
            <a class="button02 bg_04" (click)="onAddDayClick()">추가</a>
        </div>
    </div>

    <ng-container *ngFor="let day of coursess.coursess; index as dayIdx">
    <div class="bar_title mt_20">
        <h3 class="f_l">
            <select disabled>
                <option>{{dayIdx+1}}일차</option>
            </select>
            강의내용
        </h3>
        <div class="f_r mt_5" *ngIf="coursess.coursess.length > 1">
            <a class="button02 bg_03" (click)="onDeleteDayClick(dayIdx)">삭제</a>
        </div>
    </div>

    <table class="tb_list01 mt_10">
        <colgroup>
            <col style="width:10%" />
            <col style="width:20%" />
            <col style="width:*" />
            <col style="width:10%" />
            <col style="width:10%" />
            <col style="width:10%" />
        </colgroup>
        <thead>
            <tr>
                <th>구분<span class="tb_star">*</span></th>
                <th>시간<span class="tb_star">*</span></th>
                <th>강의제목<span class="tb_star">*</span></th>
                <th>강의실</th>
                <th>강사명<span class="tb_star">*</span></th>
                <th><a class="button02 bg_14" (click)="onAddCourseClick(dayIdx)">추가</a></th>
            </tr>
        </thead>
    </table>

    <ng-container *ngFor="let course of coursess.coursess[dayIdx]; index as courseIdx">
    <!-- Table list -->
    <table class="tb_list01 mt_10">
        <colgroup>
            <col style="width:10%" />
            <col style="width:20%" />
            <col style="width:*" />
            <col style="width:10%" />
            <col style="width:10%" />
            <col style="width:10%" />
        </colgroup>
        <!-- <thead>
            <tr>
                <th>구분</th>
                <th>시간</th>
                <th>강의제목</th>
                <th>강의실</th>
                <th>강사명</th>
                <th><a class="button02 bg_14" (click)="onAddCourseClick(dayIdx)">추가</a></th>
            </tr>
        </thead> -->
        <tbody>
            <tr>
                <td><input type="text" placeholder="구분을 입력하세요.(예: 1교시)" class="Width-90" name="{{dayIdx}}-{{courseIdx}}-type" [maxLength]="20" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].type" /></td>
                <td>
                    <!-- <input type="text" placeholder="" value="13:00 ~ 14:00" class="Width-90" /> -->
                    <select name="{{dayIdx}}-{{courseIdx}}-startHour" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].startHour">
                        <option value="{{hour | numPad: 2}}" *ngFor="let hour of 24 | numLoop">{{hour | numPad: 2}}시</option>
                    </select>
                    <select name="{{dayIdx}}-{{courseIdx}}-startMinute" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].startMinute">
                        <option value="{{minute | numPad: 2}}" *ngFor="let minute of 60 | numLoop">{{minute | numPad: 2}}분</option>
                    </select>
                    ~
                    <select name="{{dayIdx}}-{{courseIdx}}-endHour" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].endHour">
                        <option value="{{hour | numPad: 2}}" *ngFor="let hour of 24 | numLoop">{{hour | numPad: 2}}시</option>
                    </select>
                    <select name="{{dayIdx}}-{{courseIdx}}-endMinute" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].endMinute">
                        <option value="{{minute | numPad: 2}}" *ngFor="let minute of 60 | numLoop">{{minute | numPad: 2}}분</option>
                    </select>
                </td>
                <td><input type="text" placeholder="강의 제목을 입력하세요." class="Width-90" name="{{dayIdx}}-{{courseIdx}}-title" [maxLength]="20" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].title" /></td>
                <td><input type="text" placeholder="강의실을 입력하세요." class="Width-90" name="{{dayIdx}}-{{courseIdx}}-room" [maxLength]="20" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].room" /></td>
                <td><input type="text" placeholder="강사명을 입력하세요." class="Width-90" name="{{dayIdx}}-{{courseIdx}}-teacher" [maxLength]="20" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].teacher" /></td>
                <td><a class="button02 bg_03" (click)="onDeleteCourseClick(dayIdx, courseIdx)" *ngIf="coursess.coursess[dayIdx].length > 1">삭제</a></td>
            </tr>
        </tbody>
    </table>
    <!--// Table list -->
    <!-- Table View -->
    <table class="tb_view01 " *ngIf="education.authType === 'P'">
        <colgroup>
            <col style="width:180px" />
            <col style="width:*" />
        </colgroup>
        <tr>
            <th>교육 이수 시간<span class="tb_star">*</span></th>
            <td>
                <select name="{{dayIdx}}-{{courseIdx}}-takeHour" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].takeHour">
                    <option *ngFor="let hour of 24 | numLoop">{{hour}}시간</option>
                </select>
                <select name="{{dayIdx}}-{{courseIdx}}-takeMinute" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].takeMinute">
                    <option *ngFor="let minute of 60 | numLoop">{{minute | numPad: 2}}분</option>
                </select>
                <span class="font_14 fs_12 mt_10">* 해당 교육 참여완료 시 인정되는 이수시간을 설정 합니다.</span>
            </td>
        </tr>
        <tr>
            <th>교육 이수 QR<span class="tb_star">*</span></th>
            <td *ngIf="education.educationId === undefined">
                <input type="radio" value="O" name="{{dayIdx}}-{{courseIdx}}-qrType" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].qrType" /> 출결용(1개)
                <input type="radio" class="ml_10" value="M" name="{{dayIdx}}-{{courseIdx}}-qrType" [(ngModel)]="coursess.coursess[dayIdx][courseIdx].qrType" /> 시작/종료용(2개)
            </td>
            <td *ngIf="education.educationId !== undefined">
                <button class="button02" id="btn_qr" (click)="onCourseQrClick(dayIdx, courseIdx, 0)">{{coursess.coursess[dayIdx][courseIdx].qr2 !== undefined ? '시작 ' : ''}} QR코드</button>
                <button class="button02" (click)="onCourseQrClick(dayIdx, courseIdx, 0)" *ngIf="coursess.coursess[dayIdx][courseIdx].qr2 !== undefined">종료 QR코드</button>
            </td>
        </tr>
    </table>
    </ng-container>
    </ng-container>

    <!-- Button -->
    <div class="btn_wrap text_r mt_20">
        <a id="save" class="button01 bg_03" (click)="onBackClick()">목록</a>
        <a id="save" class="button01 bg_03" *ngIf="education.educationId !== undefined" (click)="onDeleteClick()">삭제</a>
        <a id="save" class="button01 bg_14" (click)="onSaveClick()">저장</a>
    </div>
    <!--// Button -->

</div>
<!-- Right Wrap -->

<!-- qr코드보기 popup -->
<div id="qrcode_view" class="popup_wrap">
    <div class="popup_head">
        <h2>QR코드</h2>
        <a id="close" (click)="onClosePopupClick()"><img src="/assets/images/ico_close.png"></a>
    </div>
    <div class="popup_contents">
        <p class="text_c">
            <!-- <img src="/assets/images/qrcode_sample.png" /> -->
            <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'img'"></qrcode>
        </p>
        <p class="mt_30 text_c">
            <button class="button01 bg_03" (click)="onClosePopupClick()">확인</button>
            <button class="button01 bg_14" (click)="onDownloadQrClick()">다운로드</button>
        </p>
    </div>
</div>
<div id="fade" class="black_overlay"></div>
<!--// qr코드보기 popup -->