            <!-- Right Wrap -->
            <div class="container">

                <div class="clear_wrap">
                    <h1 class="f_l">팜텍스공지 관리</h1>
                    <div class="f_r mt_20">Home > 팜텍스 서비스 관리 > <span class="fw_600">팜텍스공지 관리</span></div>
                </div>

                <!-- Search -->
                <form #searchForm="ngForm" (ngSubmit)="onSubmitSearch()">
                <div class="search_wrap mt_20">
                    <div class="search_title"><i class="fa fa-search"></i> Search</div>
                    <table class="search_tb">
                        <colgroup>
                            <col style="width:150px" />
                            <col style="width:*" />
                        </colgroup>
                        <tr>
                            <th>기간</th>
                            <td>
                                <input type="text" id="datepicker1" class="mr_5" name="regDtStartDate"
                                    #regDtStartDate [(ngModel)]="req.regDtStartDate"
                                    (click)="req.regDtStartDate = regDtStartDate.value"><img class="ui-datepicker-trigger" src="/assets/images/ico_calen.gif">
                                ~
                                <input type="text" id="datepicker2" class="mr_5" name="regDtEndDate"
                                    #regDtEndDate [(ngModel)]="req.regDtEndDate"
                                    (click)="req.regDtEndDate = regDtEndDate.value"><img class="ui-datepicker-trigger" src="/assets/images/ico_calen.gif">
                            </td>
                        </tr>
                        <tr>
                            <th>대상</th>
                            <td>
                                <input type="radio" name="target" value="ALL" [(ngModel)]="req.target" (change)="onChangeTarget()" /> 전체
                                <input type="radio" class="ml_10" name="target" value="G" [(ngModel)]="req.target" (change)="onChangeTarget()" /> 비회원
                                <input type="radio" class="ml_10" name="target" value="M" [(ngModel)]="req.target" (change)="onChangeTarget()" /> 팜택스 회원
                                <input type="text" placeholder="약국명을 입력 해주세요." class="ml_10 w_300" name="targetPharmName" [(ngModel)]="req.targetPharmName" [disabled]="req.target !== 'M'" />
                            </td>
                        </tr>
                        <tr>
                            <th>발송구분</th>
                            <td>
                                <input type="radio" name="sendType" value="ALL" [(ngModel)]="req.sendType" /> 전체
                                <input type="radio" class="ml_10" name="sendType" value="I" [(ngModel)]="req.sendType" /> 즉시발송
                                <input type="radio" class="ml_10" name="sendType" value="R" [(ngModel)]="req.sendType" /> 예약발송
                            </td>
                        </tr>
                        <tr>
                            <th>검색어</th>
                            <td>
                                <input type="text" name="keyword" placeholder="검색 조건을 입력 해주세요." class="Width-60" [(ngModel)]="req.keyword" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="search_btn">
                    <button type="submit" class="bg_15" [disabled]="!searchForm.form.valid">Search</button>
                    <!-- <a [routerLink]="['/ptaxnotices', -1]" class="f_r bg_14">등록</a> -->
                    <a (click)="onClickItem(-1)" class="f_r bg_14">등록</a>
                </div>
                </form>
                <!-- Search -->

                <!-- Table list -->
                <table class="tb_list01 mt_30">
                    <colgroup>
                        <col style="width:80px" />
                        <col style="width:10%" />
                        <col style="width:10%" />
                        <col style="width:10%" />
                        <col style="width:*" />
                        <col style="width:10%" />
                        <col style="width:10%" />
                        <col style="width:10%" />
                        <col style="width:10%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>수신대상</th>
                            <th>팜텍스회원</th>
                            <th>발송구분</th>
                            <th>푸시내용</th>
                            <th>발송상태</th>
                            <th>응답/발송건수</th>
                            <th>발송일시</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="notices === undefined">
                            <td colspan="9">등록(검색)된 푸시 메시지가 없습니다.</td>
                        </tr>
                        <tr *ngFor="let notice of notices; index as idx">
                            <td>{{notice.noticeId}}</td>
                            <td>{{targetName(idx)}}</td>
                            <td>{{notice.targetMemberName === undefined ? '전체' : notice.targetMemberName}}</td>
                            <td>{{notice.sendType === 'NONE' ? '없음' : notice.sendType === 'R' ? '예약' : notice.sendType === 'I' ? '즉시' : notice.sendType}}</td>
                            <td class="text_l">
                                <!-- <a class="line" [routerLink]="['/ptaxnotices', notice.noticeId]">{{notice.title}}</a> -->
                                <a class="line" (click)="onClickItem(notice.noticeId)">{{notice.title}}</a>
                            </td>
                            <td>{{notice.state === 'R' ? '대기' : notice.state === 'S' ? '발송' : notice.state === undefined ? '-' : notice.state}}</td>
                            <td *ngIf="notice.state === 'S'">
                                {{notice.recvCnt}}/{{notice.sendCnt}}<br>
                                <button *ngIf="notice.sendCnt > notice.recvCnt" class="button03 btn_resend" (click)="onResendClick(idx)">미확인재발송 ></button>
                            </td>
                            <td *ngIf="notice.state !== 'S'">-</td>
                            <td>{{notice.sendDt === undefined ? '-' : notice.sendDt | date: 'yyyy.MM.dd HH.mm'}}</td>
                            <td>{{notice.regDt | date: 'yyyy.MM.dd'}}</td>
                        </tr>
                    </tbody>
                </table>
                <widget-pagination #pagination (onPage)="onPageClick($event)"></widget-pagination>
                <!--// Table list -->

                <!-- Button -->
                <!-- <div class="btn_wrap text_r mt_20">
                    <a [routerLink]="['/ptaxnotices', -1]" class="button01 bg_14">등록</a>
                </div> -->
                <!--// Button -->

            </div>
            <!-- Right Wrap -->