            <!-- Right Wrap -->
            <div class="container">

                <div class="clear_wrap">
                    <h1 class="f_l">대한약사회 회원 업로드</h1>
                    <div class="f_r mt_20">Home > 공통관리 > <span class="fw_600">대한약사회 회원 업로드</span></div>
                </div>
               
                <!-- Table View -->
                <table class="tb_view01 mt_30">
                    <colgroup>
                        <col style="width:150px" />
                        <col style="width:*" />
                    </colgroup>
                    <tr>
                        <th>회원DB 업로드</th>
                        <td><input type="file" class="Width-50" /> <a href="#none" class="button02 bg_03">첨부파일 다운로드</a>
                        </td>
                    </tr>
                </table>
                <div class="mt_20">
                    <h3>!꼭 확인 해주세요.</h3>
                    <div class="font_14">※ 회원 DB는 업로드 시 반드시 이전 회원 목록을 백업해두시기 바랍니다.</div>
                </div>
                
                <!-- Button -->
                <div class="btn_wrap text_r mt_20">
                    <a href="#none" id="save" class="button01 bg_14">저장</a>
                </div>
                <!--// Button -->

            </div>
            <!-- Right Wrap -->